<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="redis_cfg.xml"/>
<!--    <import resource="mq/mq_test.xml"/>-->

    <bean class="TestBean" name="testA">
        <property name="name" value="jxj"/>
        <property name="id" value="16"/>
    </bean>

    <bean class="TestBean" name="testB">
        <property name="name" value="jxjaaa"/>
        <property name="id" value="17"/>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:app.properties</value>
            </list>
        </property>
    </bean>

</beans>